.nav {
    transition: left 0.5s ease;
    background: #112d4e;
    font-size: 2rem;
    color: white;
    height: 100%;
    left: -25rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 12rem;
  }
  
  .nav.expanded { left: 0; }
  
  .nav ul {
    position: sticky;
    top: 30%;
    list-style: none;
    padding: 0;
  }

  .nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 2rem;
    left: 1.5rem;
    position: sticky;
    top: 2.25%;
    width: 3.6rem;
    z-index: 2;
  }
  
  .nav-toggle:hover { opacity: 0.8; }
  
  .nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #ff5722;
    content: '';
    height: 0.4rem;
    width: 100%;
  }
  
  /*animação das barrinhas do menu */

  .nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }
  .nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }

  /* deixa a barrinha do meio transparente */
  .nav-toggle.expanded .nav-toggle-bar { background: transparent; } 
  

  /* movimento das barrinhas do menu */
  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background:#ff5722;
    margin-top: 0;
  }

  .nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
