.container {
  padding: 1rem;
  display: flex;
  margin: 0 auto;
  width: 55%;
  flex-wrap: wrap;
}

.item-list {
  display: flex;
  margin: 0 auto;
  align-items: flex-end;
  flex-direction: row;
}

.image-list {
  max-width: 45%;
  padding-right: 2rem;
  padding-bottom: 1rem;

}
.title-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
}

.imgp{
  max-width: 50%;
  margin-top: .2rem;
}

.contimg{
  text-align: center;
}

.header1 {
  border: 0.2rem solid;
  border-color: #ff5722;
  margin: 0 auto;
  text-align: center;
}

.bgi {
  justify-content: center;
}


/* css categoria daniel timas vai até aqui  */

.azul-escuro{
  background-color: #155263;
}

.azul-escurotexto{
 color: #155263;
}

.azul-maisescuro{
 background-color: #112d4e;
}

.azul-maisescurotexto{
 color: #112d4e;
}

.cinza{
 color: #303841;
}

.laranja{
 background-color:#ff5722;
}

.laranjatexto{
 color: #ff5722;
}

.gelo{
 background-color: #f9f7f7;
}

.gelo-texto{
 color: #f9f7f7;
}

.header {
 border-bottom: solid;
 border-color: #ff5722;
}


.main-title-nav {
 text-align: center;
 font-family: 'Martel', serif;
 font-size: 1.5rem;
 padding: 1rem;
}

.main-title{
 margin-left: 3.5rem;
 margin-top: 2rem;
 font-family: 'Martel', serif;
 font-weight: bold;
 font-size: 2.25rem;
}

.title{
 margin-top: 0.5rem;
 margin-left: 1rem;
 margin-bottom: 0.25rem;
 font-family: 'Martel', serif;
 font-weight: bold;
 font-size: 1.5rem;
 
}

.text{
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
 font-family: 'Open Sans', sans-serif;
 font-size: 1rem;
}


.nav-cat-opcoes {
 display: inline-block;
 width: 10rem;
 font-family: 'Martel', serif;
 vertical-align: middle;
 padding: 0.5rem;
}
.nav-cat-sup {
 text-align: center;
}

.nav-link{
 color: white;
}


.img {
  display: flex;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.descricao {
  display: flex;
  margin-top: 1.5rem;
  margin-left: 8rem;
  margin-right: 8rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
}

.opcoes {
 text-align: center;
 display: inline-block;
 vertical-align: middle;
 font-family: 'Open Sans', sans-serif;
 width: 10rem;
 height: 2rem;
 
}
.meio {
 margin-top: 1.5rem;
 text-align: center;
}

.nome {
 margin-top: 2rem;
 text-align: center;
 font-family: 'Open Sans', sans-serif;
}

/* css categoria daniel timas vai até aqui  */

@media (max-width: 68rem) {

  .main-title-nav {
    text-align: center;
    font-family: 'Martel', serif;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .description-title {
    text-align: center;
  }

  .descricao{
    display: flex;
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    text-align: justify;
  }

  .image-list {
    max-width: 55%;
    padding-right: .5rem;
    padding-bottom: 1rem;
  }

  .container {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
  }
  .title-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    font-size: 1rem;
  }
  .imgp{
    max-width: 60%;
    margin-top: .2rem;
  }
  .nav-cat-opcoes {

    padding: 0.4rem;
  }
}
