.blocao{
  display: flex;
  justify-content: right;
  flex-direction: row;
  margin-left: 1.5rem;
  margin-right: 2.5rem;
  max-width: 100%;
  max-height: 60%;
}

.lateral{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  margin: 1rem;
  width: 100%;
}

.img-proj{
  width: 45%;
  height: auto;
}


.materiais{
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
  padding-left: 4rem;
  max-height: 10%;
}


.teste{
  width: auto;
  display: flex;
  flex-direction: row;
  max-height: 10%;
}


.lateral-cantodir{
  width: 10rem;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 4rem;
  max-height: auto;
  width: auto;
  
}

.title-image{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.equipe{
  width: auto;

}

.equipe-nomes{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 5%;
}

.equipe-membros-1 .equipe-membros-2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.img-equipe{
  width: 2rem;
  height: auto;
}

.img-nome{
  display: flex;
  flex-direction: row;
  vertical-align: center;
  margin-bottom: 3%;
  padding: 5%;
}

.img-person{
  max-width:35%;
  height: auto;
  border-radius: 50%;
}

.nome{
  margin-left: 1rem;
  overflow: hidden;
}

.img-local{
  width: 1.5rem;
  height: 1.75rem;
}

.descricao-proj{
  margin-left: 2.5rem;
}

.title-descricao{
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  font-family: 'Martel', serif;
  font-weight: bold;
  font-size: 1.5rem;
}


@media (max-width: 700px){
  .header {
   display: flex;
   width: 100%;
   flex-direction: row;
   align-items: center;
 }
  .main-title-nav {
    text-align: center;
    font-family: 'Martel', serif;
    font-size: 1.5rem;
    padding: 1rem;
    margin-left: 3.5rem;
  }

  .blocao{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lateral{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .lateral-cantodir{
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .img-proj{
    width: 90%;
    margin-bottom: 2rem;

  }

  .materiais{
    padding-right: 0rem;
    padding-left: 0rem;
    max-height: 10%;
    margin-bottom: 1rem;
  }

  .teste{
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .img-equipe{
    width: 10%;
    height: 10%;
  }

  .title-materiais{
    margin-left: 0;
  }

  .equipe-nomes{
    margin-bottom: 5%;
    max-width: 100%;
    flex-wrap: nowrap;
  }

  .equipe-membros-1 .equipe-membros-2{
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
  }

  .img-nome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    justify-content: space-between;
    height: auto;
  }

  .img-person{
    width:40rem;
    height: auto;
    border-radius: 50%;
    
  }

  .nome{
    margin-left: 0rem;
    margin-top: 0.5rem;
    width: 100%;

  }

  .descricao-proj{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.5rem
  }

  .title-descricao{
    margin-left: 0rem;
  }
}