/* colors
título nav: ff6f3c
caixa nav: 112d4e
text caixa nav: ff6f3c
background nav: 155263

background clean: f9f7f7
título: 112d4e
subtítulo: 112d4e
text: 303841
*/

.azul-escuro{
 background-color: #155263;
}

.azul-escurotexto{
  color: #155263;
}

.azul-maisescuro{
  background-color: #112d4e;
}

.azul-maisescurotexto{
  color: #112d4e;
}

.cinza{
  color: #303841;
}

.laranja{
  background-color:#ff5722;
}

.laranjatexto{
  color: #ff5722;
}

.gelo{
  background-color: #f9f7f7;
}

.gelo-texto{
  color: #f9f7f7;
}

.header {
  border-bottom: solid;
  border-color: #ff5722;
}


.main-title-nav {
  text-align: center;
  font-family: 'Martel', serif;
  font-size: 1.5rem;
  padding: 1rem;
}

.main-title{
  margin-left: 3.5rem;
  margin-top: 2rem;
  font-family: 'Martel', serif;
  font-weight: bold;
  font-size: 2.25rem;
}

.title{
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  font-family: 'Martel', serif;
  font-weight: bold;
  font-size: 1.5rem;

}

.text{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}


.nav-cat-opcoes {
  display: inline-block;
  width: 10rem;
  font-family: 'Martel', serif;
  vertical-align: middle;
  padding: 0.5rem;
}
.nav-cat-sup {
  text-align: center;
}

.nav-link{
  color: white;
}


.img {
 display: flex;
 margin-top: 2rem;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

.descricao {
 display: flex;
 margin-top: 1.5rem;
 margin-left: 8rem;
 margin-right: 8rem;
 font-family: 'Open Sans', sans-serif;
 font-size: 1.25rem;
}

.opcoes {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  width: 10rem;
  height: 2rem;
}
.meio {
  margin-top: 1.5rem;
  text-align: center;
}

.nome {
  margin-top: 2rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* css index rapagao vai até aqui  */

@media (max-width: 400px){  
  .header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  }

  .main-title{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 0rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  }

  .text{
    width: 90%;
  }



   .nav-cat-opcoes {
  display: grid;
  grid-column: initial ;
  font-family: 'Martel', serif;
  padding: 0.5rem;
  }

  .nav-cat-sup {
  text-align: center;
  }

  
}