.header {
	border-bottom: solid;
}

.main-title-nav {
	text-align: center;
}

.img {
 display: block;
 margin-top: 20px;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

.descricao {
 display: block;
 margin-top: 20px;
 margin-left: 200px;
 margin-right: 200px;
}

.opcoes {
	background-color: gold;
	text-align: center;
	display: inline-block;
	width: 130px;
	height: 30px;
}
.meio {
	margin-top: 20px;
	text-align: center;
}

.nome {
	margin-top: 80px;
	text-align: center;
}

.materia {
	text-align: center;
}

.imgpro1 {
	position: absolute;
	top:500px;
	left:500px;
	height: 150px;
	width: 250px;
	text-align: end;
	margin: 10px;

}
.imgpro2 {
	position: absolute;
	top: 700px;
	left: 500px;
	height: 150px;
	width: 250px;
	text-align: end;
	margin: 10px;


}
.imgpro3 {
	position: absolute;
	top:900px;
	left:500px;
	height: 150px;
	width: 250px;
	text-align: end;
	vertical-align: top;
	margin: 10px;

}

.tx1 {
	position: absolute;
	top:560px;
	left:800px;	
}
.tx2 {
	position: absolute;
	top:760px;
	left:800px;	
}
.tx3 {
	position: absolute;
	top:960px;
	left:800px;	
}

.header1 {
	border: 2px solid black;
	background-color: skyblue;
	height: 30px;
	text-align: center;
	padding: 1px;
	margin: 20px;
}

.bg{
	background-color: lightcyan;
}

.bgi {
	background-color: rgba(253, 253, 143, 0.979)
}

.bgp {
	background-color: rgba(241, 136, 136, 0.685)
}

.title{
	margin-left: 40px;
	margin-top: 50px;
}
.text{
	position: absolute;
	display: inline;
	top: 30px;
	margin-top: 5px;
	
}

.nav{
	position: relative;
	top: 10px;
	left:10px;

	height: 350px;
	width: 100px;
}

.img-proj {
	position: absolute;
	top: 5px;
	left: 20px;
	height: 350px;
	width: 500px;
	text-align: end;
	margin: 10px;


}

.lateral{
	position: relative;
	left: 600px;
	top: -300px;

	width: 400px;
	height:300px;

}

.mov{

	position: absolute;
	left: 10px;
	top: 5px;

}

.lista_materiais{
	position: absolute;
	left: 30px;
	top: 25px;
	list-style-type: disc;
	line-height: 20px;

	height: 280px;

}

.nav3{
	position: absolute;
	display: block;
	left: 200px;
	top: 5px;

}

.imagem-equipe{
	position: absolute;
	left: 0px;
	top: 0px;
}

.title-equipe{
	position: absolute;
	left: 40px;
	top: 5px;
}

.nav-item{
	position: absolute;
	left: 35px;
	top: 30px;

	width: 100px;
	height: 50px;
	list-style-type: disc;
	line-height: 30px;


}

.nav-item2{
	position: absolute;
	left: 200px;
	top: 30px;

	width: 100px;
	height: 50px;
	list-style-type: disc;
	line-height: 30px;

}

.dic{
	position: absolute;
	left: 195px;
	top: 150px;

	width: 300px;
}

.imagem-local{
	position: absolute;
	left: 0px;
	top: 0px;
}

.title-local{
	position: absolute;
	left: 35px;
	top: 5px;
}

.descricao-proj{
	position: relative;
	display: block;
	left: 20px;
	top: -250px;

}

.bord {
	border: 3px solid black;
	padding: 2px;
}

.margem {
	margin-left: 20px;
	margin-bottom: 10px;
}