.header {
	border-bottom: solid;
}

.main-title-nav {
	text-align: center;
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;
	font-stretch: ultra-expanded;
	font-size: 2rem
}

.img {
 display: flex;
 margin-top: 2rem;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

.descricao {
 display: flex;
 margin-top: 1.5rem;
 margin-left: 8rem;
 margin-right: 8rem;
 font-family: 'Roboto', sans-serif;
 font-size: 1.25rem;
}

.opcoes {
	background-color: gold;
	text-align: center;
	display: inline-block;
	width: 10rem;
	height: 2rem;
	font-family: 'Roboto', sans-serif;
}
.meio {
	margin-top: 2rem;
	text-align: center;
}

.nome {
	margin-top: 4rem;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

/* css index rapagao vai até aqui  */

/* começo css categoria dani/ timas  */


.sections-menu {
	display: flex;
	width: 100%;
	align-items: flex-start;
}

.sections-menu-item {
	display: flex;
	align-items: flex-end;
	flex-direction: row;

}

.sections-menu-item-image {
	
}

.materia {
	text-align: center;
}


.imgp{
	max-width: 50%;
}
.container {
	margin: 0 auto;
	background-color: black;
	padding: 1rem;
}
.cont2 {
	background-color: chartreuse;
}

.contimg{
	text-align: center;
}


.tx1 {

}
.tx2 {

}
.tx3 {

}
.child1, .child2, .child3{

	
}
.child1{
	background-color: blueviolet;
	display: grid;
	grid-template-columns: 50% 50%;

}
.child2{
	background-color: aqua;	
}
.child3{
	background-color: brown;

}
.chimg1, .chimg2, .chimg3 {
	width: 30%;
}

.header1 {
	border: 0.2rem solid black;
	margin: 0.5rem auto;
	text-align: center;
	background-color: skyblue;

}

.bg{
	background-color: lightcyan;
}

.bgi {
	background-color: rgba(253, 253, 143, 0.979);
	justify-content: center;

}

.bgp {
	background-color: rgba(241, 136, 136, 0.685);
}


/* css categoria daniel timas vai até aqui  */


/* começo  css projeto gi / barb */

.title{
	margin-left: 40px;
	margin-top: 50px;
}

.text{
	position: absolute;
	display: inline;
	top: 30px;
	margin-top: 5px;
	
}

.nav{
	position: relative;
	top: 10px;
	left:10px;

	height: 350px;
	width: 100px;
}

.img-proj {
	position: absolute;
	top: 5px;
	left: 20px;
	height: 350px;
	width: 500px;
	text-align: end;
	margin: 10px;


}

.lateral{
	position: relative;
	left: 600px;
	top: -300px;

	width: 400px;
	height:300px;

}

.mov{

	position: absolute;
	left: 10px;
	top: 5px;

}

.lista_materiais{
	position: absolute;
	left: 30px;
	top: 25px;
	list-style-type: disc;
	line-height: 20px;

	height: 280px;

}

.nav3{
	position: absolute;
	display: block;
	left: 200px;
	top: 5px;

}

.imagem-equipe{
	position: absolute;
	left: 0px;
	top: 0px;
}

.title-equipe{
	position: absolute;
	left: 40px;
	top: 5px;
}

.nav-item{
	position: absolute;
	left: 35px;
	top: 30px;

	width: 100px;
	height: 50px;
	list-style-type: disc;
	line-height: 30px;


}

.nav-item2{
	position: absolute;
	left: 200px;
	top: 30px;

	width: 100px;
	height: 50px;
	list-style-type: disc;
	line-height: 30px;

}

.dic{
	position: absolute;
	left: 195px;
	top: 150px;

	width: 300px;
}

.imagem-local{
	position: absolute;
	left: 0px;
	top: 0px;
}

.title-local{
	position: absolute;
	left: 35px;
	top: 5px;
}

.descricao-proj{
	position: relative;
	display: block;
	left: 20px;
	top: -250px;

}

.bord {
	border: 3px solid black;
	padding: 2px;
}

.margem {
	margin-left: 20px;
	margin-bottom: 10px;
}